<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main::commonHead(${member.id})}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{layout/main::pageNavbar(_)}"></nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-6">
            <h2 class="mb-3">회원 정보</h2>
            <div class="mb-3">
                <label for="inputId" class="form-label">아이디</label>
                <input th:value="${member.id}" type="text" class="form-control" id="inputId" readonly>
            </div>
            <div class="mb-3">
                <label for="inputNickName" class="form-label">별명</label>
                <input th:value="${member.nickName}" type="text" class="form-control" id="inputNickName" readonly>
            </div>
            <div class="mb-3">
                <label for="textareaInfo" class="form-label">자기소개</label>
                <textarea th:text="${member.info}" class="form-control" id="textareaInfo" readonly></textarea>
            </div>
            <div class="mb-3">
                <label for="inputCreated" class="form-label">가입일시</label>
                <input th:value="${member.createdAt}" type="text" class="form-control" id="inputCreated" readonly>
            </div>
            <div>
                <a th:href="@{/member/edit(id=${member.id})}"
                   class="btn btn-outline-primary">수정
                </a>
                <button class="btn btn-outline-danger btn-sm">회원탈퇴
                </button>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{layout/main::commonScript}"/>
</body>
